.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.content h3{
    cursor: pointer;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}